global
    daemon
    maxconn 256
    hard-stop-after 3s

defaults
    mode http
    timeout connect 500ms
    timeout client 1000ms
    timeout server 1000ms

frontend http-in
    bind *:80
    default_backend dynamic-backends

listen stats
    bind *:3000
    mode http
    stats enable
    stats refresh 30s
    stats show-node
    stats uri /
